_libgcc_mutex
_openmp_mutex
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
blas
bleach
bottleneck
brotli
brotli-bin
brotli-python
bzip2
ca-certificates
cached-property
certifi
cffi
charset-normalizer
comm
contourpy
cycler
cyrus-sasl
dbus
debugpy
decorator
defusedxml
executing
expat
fontconfig
fonttools
fqdn
freetype
ftd2xx
future
glib
glib-tools
gst-plugins-base
gstreamer
h11
httpcore
httpx
icu
idna
importlib-metadata
intel-openmp
ipykernel
ipython
ipywidgets
isoduration
jedi
jinja2
joblib
jpeg
json5
jsonpointer
jsonschema
jsonschema-with-format-nongpl
jupyter
jupyter-lsp
jupyter_client
jupyter_console
jupyter_core
jupyter_events
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
krb5
lcms2
ld_impl_linux-64
lerc
libbrotlicommon
libbrotlidec
libbrotlienc
libclang
libclang13
libcups
libdeflate
libedit
libffi
libgcc-ng
libgfortran-ng
libgfortran5
libglib
libgomp
libiconv
libllvm14
libpng
libpq
libsodium
libstdcxx-ng
libtiff
libuuid
libwebp-base
libxcb
libxkbcommon
libxml2
lz4-c
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mistune
mkl
mkl-service
mkl_fft
mkl_random
mysql
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
notebook
notebook-shim
numexpr
numpy
numpy-base
openjpeg
openssl
overrides
packaging
pandas
pandocfilters
parso
pcre2
pexpect
pillow
pip
platformdirs
ply
prometheus_client
prompt-toolkit
prompt_toolkit
psutil
ptyprocess
pure_eval
pybind11-abi
pycparser
pygments
pyparsing
pyqt
pyqt5-sip
pyrsistent
pysocks
python
python-dateutil
python-fastjsonschema
python-json-logger
python-tzdata
pytz
pyyaml
pyzmq
qt-main
qtconsole
qtpy
readline
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
send2trash
setuptools
sip
six
sniffio
soupsieve
sqlite
stack_data
tbb
terminado
threadpoolctl
tinycss2
tk
tornado
traitlets
typing-extensions
typing_extensions
tzdata
unicodedata2
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
xz
yaml
zeromq
zipp
zlib
zstd